footer{
    background-color: var(--clr-main);
    text-align: center;
    font-family: var(--tipo-letra-footer);
    box-shadow: var(--box-shadow-expand);

    .icons{
        font-size: 30px;
        
        a{

            i{

                &:hover{
                color: var(--clr-light);
                transform: scale(1.05);
                
                

                }
            }
        }
        
       
    }

    body.dark-mode & {
        background-color: var(--dark-mode);
        color: #e0e0e0;
    } 
    
}