header{
    background-color: var(--clr-main);
    display: flex;
    justify-content: space-between;
    padding: .5em 2em;
    box-shadow: var(--box-shadow);

    .titulo{
        font-size: 2.5rem;
        @include mobile{
            font-size: 1.2rem;
        }
    }

    body.dark-mode & {
        background-color: #181a1b;
        color: #e0e0e0;
    }
    
}